<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="true"
        bootstrap="./build/prestashop/admin-dev/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="addon_name" value="braintree"/>
    </php>

    <filter>
        <whitelist>
            <directory>./build/prestashop/modules/braintree</directory>
            <exclude>
                <directory>./build/prestashop/modules/braintree/translations</directory>
                <directory>./build/prestashop/modules/braintree/views</directory>
                <directory>./build/prestashop/modules/braintree/css</directory>
                <directory>./build/prestashop/modules/braintree/js</directory>
                <directory>./build/prestashop/modules/braintree/img</directory>
                <directory>./build/prestashop/modules/braintree/override</directory>
                <directory>./build/prestashop/modules/braintree/upgrade</directory>
                <directory>./build/prestashop/modules/braintree/sdk</directory>
                <directory>./build/prestashop/modules/braintree/202</directory>
                <directory>./build/prestashop/modules/braintree/vendor</directory>
                <directory>./build/prestashop/modules/braintree/_dev</directory>
                <directory suffix="index.php">./build/prestashop/modules/braintree/</directory>
                <directory suffix="index.php">./build/prestashop/modules/braintree/*/</directory>
                <directory suffix="index.php">./build/prestashop/modules/braintree/*/*/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-php" target="./build/backend.php" title="Braintree" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-html" target="./build/coverage" title="Braintree" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
