.bt {
  
  .braintree-hosted-fields-focused {
    border-color: $success;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px $success;
  }

  .braintree-hosted-fields-valid {
    border: 1px solid $success;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(255, 255, 255, 0.3);
      top: 0;
      left: 0;
      border-radius: 4px;
    }
  }

  .braintree-hosted-fields-invalid {
    border: 1px solid $danger;
    box-shadow: none;
  }
  
}


.braintree-row-payment #braintree_submit {
  width: 250px;
  padding: 6px 12px;
  margin-top: 20px;
  margin-bottom: 0;
  clear: both;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #337ab7;
  background-image: none;
  border: 1px solid #2e6da4;
  border-radius: 4px;
}
.braintree_clear {
  clear: both;
}

.braintree_logo {
  vertical-align: bottom;
}


.braintree_error {
  padding: 5px;
  color: white;
  background-color: #f11;
  border: solid 3px red;
  opacity: .5;
}

#paypal-wrapper .bo_paypal_help {
  display: inline-block;
  width: 21px;
  height: 21px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #036;
  border-radius: 50%;
}

#paypal-wrapper .braintree_link {
  text-decoration: none;
}
.braintree-error {
  display: none;
}
.braintree-card #card-image {
  position: absolute;
  top: 0;
  right: 1em;
  width: 44px;
  height: 28px;
  margin-bottom: 1em;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/card_sprite.png);
  background-repeat: no-repeat;
  background-position: -100px 0;
  background-size: 86px 458px;
}
.braintree-card #card-image.visa {
  background-position: 0 -398px;
}
.braintree-card #card-image.master-card {
  background-position: 0 -281px;
}
.braintree-card #card-image.american-express {
  background-position: 0 -370px;
}
.braintree-card #card-image.discover {
  background-position: 0 -163px;
}
.braintree-card #card-image.maestro {
  background-position: 0 -251px;
}
.braintree-card #card-image.jcb {
  background-position: 0 -221px;
}
.braintree-card #card-image.diners-club {
  background-position: 0 -133px;
}
.braintree-row-payment #card-number {
  position: relative;
}
#paypal-vault-info {
  display: none;
  margin-bottom: 20px;
}
#bt-card-error-msg,
#braintree-error-msg {
  display: none;
  margin-top: 10px;
}
#braintree-error-msg {
  margin-bottom: 10px;
}
#logo_braintree_by_paypal {
  margin-top: 15px;
}

/* ------------------VAULT------------- */
#bt-vault-form {
  margin-top: 10px;
  margin-bottom: 15px;
}

#bt-vault-form .form-control {
  padding: .4rem 1rem;
  color: #7a7a7a;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 5px;
}
.save-in-vault {
  margin-top: 10px;
  margin-bottom: 10px;
}
label[for="save_card_in_vault"],
label[for="save_account_in_vault"] {
  display: inline-block !important;
  padding-left: 5px;
  vertical-align: text-top;
}
@media only screen and (max-width: 500px) {
  .braintree-row-payment .block_field {
    width: 81%;
  }
  .braintree-row-payment .block_field.half_block_field {
    width: 40%;
    margin-right: 1%;
  }
}
