.flex {
  display: flex !important;
}

.stretchHeightForm form {
  height: 100%;
}

.stretchHeightForm .panel {
  height: 100%;
}

.stretchHeightForm {
  padding-bottom: 20px;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.font-italic {
  font-style: italic;
}

#content .panel.migration-page {
  .form-account {
    display:none;
  }
  .form-account.current-account {
    display: block;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 20px;
  }

  padding: 60px;
}

