.bt {

	&__text-danger {
		color: $danger;
	}

	&__hidden {
		display: none;
	}

	&__d-table-cell {
		display: table-cell;
	}

}

@each $color, $value in $colors {
	.bt__text-#{$color} {
		color: $value !important;
	}
}